
<div class="container-fluid d-flex">
    <nav class="navbar navbar-expand-lg col-md-3 flex-wrap navbar-light bg-light pt-4   d-flex align-items-start">
        <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="nav flex-column">
            <li class="nav-item active">
            <a class="nav-link" [routerLink]="'./home/'" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link"  [routerLink]="'./currency/'" routerLinkActive="active">Currency</a>
            </li>
            <li class="nav-item">
            <a class="nav-link"  [routerLink]="'./language/'" routerLinkActive="active">Language</a>
            </li>
        </ul>
        </div>
    </nav>
    
    <div class="navbar navbar-expand-lg col-md-9 flex-wrap">
        <div class="col-md-12 m-2">
            <select [(ngModel)]="countryValue" name="countryValue" (change)="countryChangeEvent($event)">
                <option [value]="'SelectCountry'">Select Country</option>
                <option *ngFor="let s of countrySelectData" [value]="s.alpha3Code">{{s.name}}</option>
            </select>
        </div>
        <div class="col-md-12 my-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
